#switch button {
animation: slide-out 0.4s;
}

.light #switch button {
animation: slide-ing 0.4s forwards;
}   


#switch button:hover{
  outline: 8px solid var(--highlight-color);

}


/* animations */
@keyframes slide-ing{
 from{
    left:0;
 }

    to{
        left:50%;
    }

}


@keyframes slide-out{
 from{
    left:50%;
 }

    to{
        left:0;
    }

}