header{
    border:px solid red;
    padding: 60px;
}

h1{ 
    border: 1px solid green; 
    height: 60px; 
    display:inline; 
}
p{
    margin: 20px;

    border: solid blue;
    display:inline;
}
span{
    border: solid purple;
    display:inline;
}