body{
    background: var(--bg-url) no-repeat top center/cover;
    height: 100vh;
}

/* media queries para telas maiores que 700px */
@media (min-width: 700px) {
   :root {
    --bg-url: url('../assets/bg-desktop.jpg');
   }



   .light{
    --bg-url: url('../assets/bg-desktop-light.jpg');
   }

}