
/* social links*/
#social links{
    display: flex;
    justify-content: center;

    padding: 0 24px;

    font-size: 24px;

}

#social-links a{
    display: flex;
    align-items:center;
    justify-content: center;

    padding: 16px;

    transition: background 0.2s;
    border-radius:50%;
}

#social-links a:hover{
   background: rgba(255, 255, 255, 0.2);
  
}
 /* hover=quando o mouse passa por cima */

 footer{
  padding: 24px 0;
    text-align: center;
    font-size: 14px;
 /* footer é o rodapé */
 }

:root{
    --text-color: white;
    --bg-url: url(./assets/gb-mobile-light.jpg);
}

.light{
    --text-color: black;
    --bg-url: url(./assets/gb-mobile-light.jpg);
}
 