/* social links*/
#social links{
    display: flex;
    justify-content: center;

    padding: 0 24px;

    font-size: 24px;

}

#social-links a{
    display: flex;
    align-items:center;
    justify-content: center;

    padding: 16px;

    transition: background 0.2s;
    border-radius:50%;
}

#social-links a:hover{
   background: var(--highlight-color);
  
}

ul{
    list-style: none;

    display: flex; /* Define o contêiner como um contêiner flexível */
    flex-direction: column; /* Define a direção dos itens flex como coluna (vertical) */
    gap: 16px; /* Adiciona um espaçamento de 16 pixels entre os itens flex */
}

ul li a {
    display: flex;
    border: 1px solid red;

    align-items: center; /* Alinha os itens no centro verticalmente */
    justify-content: center; /* Alinha os itens no centro horizontalmente */
    padding: 16px 24px; /* Adiciona um espaçamento interno de 16 pixels na vertical e 24 pixels na horizontal */

    background: var(--surface-color); /* Define uma cor de fundo branca com 10% de opacidade */
    border: 1px solid rgba(255, 255, 255, 0.5); /* Define uma borda branca com 20% de opacidade */
    border-radius: 8px; /* Adiciona cantos arredondados com raio de 8 pixels */

    backdrop-filter: blur(5px); /* Aplica um efeito de desfoque ao fundo atrás do elemento */
    -webkit-backdrop-filter: blur(5px); /* Aplica um efeito de desfoque ao fundo atrás do elemento para navegadores WebKit */  

    text-decoration: none; /* line-through linha no meio, underline linha em baixo, overline linha em cima */
    font-weight: 500; /* Define a espessura da fonte como média */

    transition: background 0.5s; /* Adiciona uma transição suave de 0.5 segundos para a propriedade de fundo */
}



/*pseudo selector */
ul li a:hover{ /* Quando o usuário passar o mouse sobre o link coloca a borda */
    background: var(--surface-color-hover); 
    border: 1.5px solid var(--text-color);
}
 /* hover=quando o mouse passa por cima */


 footer{
  padding: 24px 0;
    text-align: center;
    font-size: 14px;
 /* footer é o rodapé */
 }

:root{     /* variáveis para light e dark mode */
    --text-color: white;
    --bg-url: url(./assets/gb-mobile-light.jpg);
    --stroke-color: rgba(255, 255, 255, 0.5);
    --surface-color: rgba(255,255,255,0.1);
    --surface-color-hover: rgba(0,0,0,0.2);
    --highlight-color: rgba(255,255,255,0.2);
}

.light{      /* variáveis para light e dark mode */
    --text-color: black;
    --bg-url: url(./assets/gb-mobile-light.jpg);
    --stroke-color: rgba(0, 0, 0, 0.5);
    --surface-color: rgba(0,0,0,0.05);
    --suface-color-hover: rgba(0,0,0,0.02);
    --highlight-color: rgba(0,0,0,0.1);
}
 